/sundirect_android.iml
/sundirect hooq SDK.iml
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/app.iml
/myplex-api-sdk/myplex-api-sdk.iml
/Exo-library/library.iml
/Exo-library/Exo-library.iml
/Exo-library/build
/sundirect_android_exoplayer_v2.2.iml
/draggablepanel/draggablepanel.iml
/thirdparty/ui/build
/thirdparty/core/build
/thirdparty/dash/build
/thirdparty/hls/build
/nativetemplates/build
/thirdparty/draggablepanel/build
/myplex-player-config-google-release/build
/myplex-player-config-release/build
/myplex-player-sdk-release/build
/assets
/app/mapping.txt